.container-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    width: 100%;
    height: 110px;
}

.main-navbar{
    width: 100%;
    height: 110px;
}

.title-logo{
    height: 46px;
    display: flex;
    justify-content: center;
    margin: 4px auto;
}

.log{
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.title-navbar{
    color: #082763;
    font-size: 30px;
    font-style: italic;
    height: 35px;
    margin: 0;
    padding: 4px 0 0 14px;
    /*border: solid 2px red;*/

}

@media only screen and (min-width: 600px){
    .container-navbar{
        height: 114px;
    }
}

@media only screen and (min-width: 900px){
    .container-navbar{
        height: 122px;
    }
}